@import "../base/fonts";

@mixin primary-fonts($font_size: 24px, $font_weight: 400) {
  font-family: $primary-font;
  font-size: $font_size;
  font-weight: $font-weight;
}

@mixin secondary-fonts($font_size: 18px, $font_weight: 400) {
  font-family: $secondary-font;
  font-size: $font_size;
  font-weight: $font-weight;
}
