@import "../../utils/variable";
@import "../../utils/mixins";

.dashboard-gallery {
  button {
    border: 0;
    background: rgba(0, 0, 0, 0.397);
    color: $secondary-color;
    padding: 10px;
  }
  form {
    input {
      border: 1px solid $primary-color;
      padding: 5px;
      margin-right: 5px;
    }
    button {
      @include button;
      background: $primary-color;
      @include secondary-fonts;
      color: $secondary-color;
    }
  }

  .new-gallery {
    @include button;
    background: $primary-color;
    @include secondary-fonts;
    color: $secondary-color;
  }
}
