@import '../utils/variable';
@import '../utils/mixins';

.contact-info {
  h4 {
    @include secondary-fonts(22px, 600);
  }
  margin-bottom: 100px;

  p {
    @include secondary-fonts(16px);
  }
  a {
    @include secondary-fonts(16px);
    color: $black-color;
  }

  .icon {
    font-size: 18px;
  }
}
