@import "../utils/variable";
@import "../utils/mixins";
.filter {
  background: $primary-color;
  align-items: center;
  padding: 0 5px;

  .titlle {
    text-align: center;

    .choose {
      color: $secondary-color;
    }
  }
  .shopping {
    color: $primary-color;
    height: 100%;
    padding: 0 20px;

    .cart {
      margin-left: 30px;
      margin-right: 15px;
      font-size: 32px;
    }

    .shop__button {
    }
  }
  h3 {
    @include primary-fonts(32px);
  }
}
