@import "../utils/variable";
@import "../utils/mixins";
.filter {
  background: $primary-color;
  align-items: center;
  padding: 0 5px;

  .titlle {
    text-align: center;

    .choose {
      color: $secondary-color;
    }
  }
  .shopping {
    color: $primary-color;
    height: 100%;
    padding: 0 20px;

    .cart {
      margin-left: 30px;
      font-size: 32px;
    }

    a {
      color: $primary-color;
    }
  }
  h3 {
    @include primary-fonts(32px);
  }

  .cart-icon {
    margin-right: 15px;
  }
  .quantity {
    border: 1px solid $primary-color;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: $secondary-color;
    background: $primary-color;
  }
}
