@import "../utils/variable";
@import "../utils/mixins";

.not_found {
  padding: 100px 0;
  background: url("../../images/orderbg.png");

  .area {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid $black-color;
    padding: 20px;

    h5 {
      @include secondary-fonts(42px, 700);
      letter-spacing: 5px;
      margin-bottom: 25px;
    }

    button {
      padding: 5px 40px;
      @include secondary-fonts(18px, 600);
      border: 0;
      margin: 30px 0;
      background: $primary-color;
      color: $secondary-color;
    }

    p {
      @include secondary-fonts;
    }
  }
}
