@import '../utils/variable';
@import '../utils/mixins';

.order {
  padding: 100px 0;
  background: url('../../images/body-bg.png') no-repeat center;

  button {
    @include button(5px 20px);
    @include secondary-fonts(18px, 600);
    color: $secondary-color;
    background: $primary-color;
    scroll-behavior: none;
    margin-right: 5px;
    margin-top: 10px;
  }

  p {
    @include secondary-fonts(16px);
  }

  form {
    input,
    textarea {
      display: block;
      width: 100%;
      line-height: 40px;
      margin-bottom: 20px;
      padding: 2px 10px;
      border: 1px solid $dark-color;
      background: $secondary-color;

      &::placeholder {
        @include secondary-fonts;
      }
    }

    select {
      border: 1px solid $dark-color;
      margin-bottom: 20px;
      border-radius: 0%;

      line-height: 40px;
    }

    p {
      @include secondary-fonts(16px);
    }
    button {
      @include button(5px 40px);
      @include secondary-fonts(18px, 600);
      color: $secondary-color;
      background: $primary-color;
      scroll-behavior: none;
    }
  }
  .popup {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.402);
    padding: 20px;

    .close-btn {
      border: 0;
      padding: 10px;
      text-align: center;
      line-height: 20px;
      font-size: 15px;

      .icon {
        font-size: 20px;
      }
    }

    .card-bg {
      background: $primary-color;
    }

    .span-item {
      color: $primary-color;
    }

    p {
      @include secondary-fonts(16px);
    }

    h2 {
      @include secondary-fonts(40px, 600);
    }
    h4 {
      @include secondary-fonts(30px, 600);
    }
    input {
      width: 50%;
      margin: 15px auto;
      border: 1px solid $primary-color;
    }
  }
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
